<div class="generateProduct-container">
  <div class="header">
    <h2>Generar un producto nuevo</h2>
    <button class="return-button" (click)="onReturn()">Regresar</button>
  </div>
  
  <form [formGroup]="generateProductForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="name" required>
      <mat-error *ngIf="generateProductForm.get('name')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descripción" formControlName="description" required>
        <mat-error *ngIf="generateProductForm.get('description')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Calcio (mg)" formControlName="calcium" type="number" required>
        <mat-error *ngIf="generateProductForm.get('calcium')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Sodio (mg)" formControlName="sodium" type="number" required>
        <mat-error *ngIf="generateProductForm.get('sodium')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Grasa (g)" formControlName="fat" type="number" required>
        <mat-error *ngIf="generateProductForm.get('fat')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Energía (Kcal)" formControlName="energy" type="number" required>
        <mat-error *ngIf="generateProductForm.get('energy')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cantidad por servida (g/ml)" formControlName="servingSize" type="number" required>
        <mat-error *ngIf="generateProductForm.get('servingSize')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Hierro (mg)" formControlName="iron" type="number" required>
        <mat-error *ngIf="generateProductForm.get('iron')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Proteina (g)" formControlName="protein" type="number" required>
        <mat-error *ngIf="generateProductForm.get('protein')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Carbohidratos (g)" formControlName="carbohydrates" type="number" required>
        <mat-error *ngIf="generateProductForm.get('carbohydrates')?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Generar el producto</button>
    </div>
  </form>
</div>